---
import Layout from "../layouts/Layout.astro";
import CtaButton from "@/components/Cta-button.astro";
---

<Layout title="LP with curved sections">
	<main>
		<h1 class="font-heading text-[32px] px-14 pt-32">
			Build The Community Your Fans Will Love
		</h1>

		<p class="text-lg font-medium px-12 py-5">
			Huddle re-imagines the way we build communities. You have a voice, but so
			does your audience. Create connections with your users as you engage in
			genuine discussion.
		</p>

		<a href=""><CtaButton> Get Started For Free </CtaButton></a>

		<img
			class="my-[7rem] w-auto h-auto mx-auto px-12"
			src="/public/images/screen-mockups.svg"
			alt="screen-mockups "
		/>

		<div class="mt-[10rem]">
			<div class="mx-32">
				<img class="pl-5" src="/public/images/icon-communities.svg" alt="" />
			</div>
			<h2 class="text-[5rem] font-bold text-n-very-dark-cyan">1.4k+</h2>
			<p class="text-lg font-semibold text-n-very-dark-cyan/50">
				Communities Formed
			</p>
		</div>
		<div class="mt-[7rem]">
			<div class="mx-32">
				<img
					class="pl-5 w-auto h-7"
					src="/public/images/icon-messages.svg"
					alt=""
				/>
			</div>
			<h2 class="text-[5rem] font-bold text-n-very-dark-cyan">2.7m+</h2>
			<p class="text-lg font-semibold text-n-very-dark-cyan/50">Messages</p>
			<p class="text-lg font-semibold text-n-very-dark-cyan/50">Sent</p>
		</div>

		<section>
			<img
				class="w-[100%] h-auto"
				src="/public/images/bg-section-top-mobile-1.svg"
				alt=""
			/>
			<div class="bg-n-very-pale-blue pb-12">
				<img
					class="bg-n-very-pale-blue w-auto h-auto mx-auto px-12 pt-28"
					src="/public/images/illustration-grow-together.svg"
					alt=""
				/>
				<h2 class="font-heading text-3xl px-14 pt-32">Grow Together</h2>

				<p class="text-n-very-dark-cyan text-lg font-medium px-12 py-5">
					Generate meaningful discussions with your audience and build a strong,
					loyal community. Think of the insightful conversations you miss out on
					with a feedback form.
				</p>
			</div>
			<img
				class="w-[100%] h-auto"
				src="/public/images/bg-section-bottom-mobile-1.svg"
				alt=""
			/>
		</section>
		<section>
			<img
				class="w-auto h-auto mx-auto px-12 pt-28"
				src="/public/images/illustration-flowing-conversation.svg"
				alt=""
			/>
			<h2 class="font-heading text-2xl px-14 pt-32">Flowing Conversations</h2>

			<p class="text-n-very-dark-cyan text-lg font-medium px-12 py-5">
				You wouldn't paginate a conversation in real life, so why do it online?
				Our threads have just-in-time loading for a more natural flow.
			</p>
		</section>
		<!-- 




  Your Users
  It takes no time at all to integrate Huddle with your app's authentication solution. This means, 
  once signed in to your app, your users can start chatting immediately.

  Ready To Build Your Community?
  Get Started For Free -->
	</main>
</Layout>

<style></style>
