---
import SocialPill from "@/components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import CtaButton from "@/components/Cta-button.astro";
import FacebookIcon from "@/icons/FacebookIcon.astro";
import InstagramIcon from "@/icons/InstagramIcon.astro";
import TwitterIcon from "@/icons/TwitterIcon.astro";
---

<Layout title="LP with curved sections">
	<main>
		<h1
			class="font-heading text-xl text-n-very-dark-cyan px-14 pt-32 md:text-2xl"
		>
			Build The Community Your Fans Will Love
		</h1>

		<p
			class="text-xs text-wrap font-medium px-14 py-5 text-n-very-dark-cyan md:px-48"
		>
			Huddle re-imagines the way we build communities. You have a voice, but so
			does your audience. Create connections with your users as you engage in
			genuine discussion.
		</p>

		<CtaButton> Get Started For Free </CtaButton>

		<img
			class="my-[7rem] w-auto h-auto mx-auto px-12"
			src="/public/images/screen-mockups.svg"
			alt="screen-mockups "
		/>

		<section class="md:flex md:justify-around">
			<div class="flex flex-col text-center mt-[7rem] md:mt-0">
				<div class="">
					<img
						class="w-auto h-4 px-28 md:px-1"
						src="/public/images/icon-communities.svg"
						alt=""
					/>
					<h2 class="text-6xl font-bold text-n-very-dark-cyan">1.4k+</h2>
					<p class="text-sm font-semibold text-n-very-dark-cyan/50">
						Communities Formed
					</p>
				</div>
			</div>

			<div class="flex flex-col text-center mt-[7rem] md:mt-0">
				<div class="px-10">
					<img
						class="w-auto h-4 px-16 md:px-1"
						src="/public/images/icon-messages.svg"
						alt=""
					/>
					<h2 class="text-6xl font-bold text-n-very-dark-cyan">2.7m+</h2>
					<p class="text-sm font-semibold text-n-very-dark-cyan/50 w-14
					mx-auto">
						Messages Sent
					</p>
				</div>
			</div>
		</section>

		<section>
			<img
				class="w-[100%] h-auto md:hidden"
				src="/public/images/bg-section-top-mobile-1.svg"
				alt=""
			/>
			<img
				class="w-[100%] h-auto hidden md:block"
				src="/public/images/bg-section-top-desktop-1.svg"
				alt=""
			/>
			<div class="bg-n-very-pale-blue pb-12 flex flex-col">
				<img
					class="bg-n-very-pale-blue w-auto h-auto mx-auto px-12 pt-28"
					src="/public/images/illustration-grow-together.svg"
					alt=""
				/>

				<div>
					<h2 class="font-heading text-xl px-14 pt-32">Grow Together</h2>

					<p class="text-xs text-wrap font-medium px-14 py-5">
						Generate meaningful discussions with your audience and build a
						strong, loyal community. Think of the insightful conversations you
						miss out on with a feedback form.
					</p>
				</div>
			</div>
			<img
				class="w-[100%] h-auto md:hidden"
				src="/public/images/bg-section-bottom-mobile-1.svg"
				alt=""
			/>
			<img
				class="w-[100%] h-auto hidden md:block"
				src="/public/images/bg-section-bottom-desktop-1.svg"
				alt=""
			/>
		</section>

		<section>
			<div class="flex flex-col">
				<img
					class="w-auto h-auto mx-auto px-12 pt-28"
					src="/public/images/illustration-flowing-conversation.svg"
					alt=""
				/>
				<h2 class="font-heading text-xl px-14 pt-32">Flowing Conversations</h2>

				<p class="text-xs font-medium px-12 py-5">
					You wouldn't paginate a conversation in real life, so why do it
					online? Our threads have just-in-time loading for a more natural flow.
				</p>
			</div>
		</section>

		<section>
			<img
				class="w-[100%] h-auto"
				src="/public/images/bg-section-top-mobile-2.svg"
				alt=""
			/>
			<div class="bg-n-very-pale-blue pb-12 flex flex-col">
				<img
					class="bg-n-very-pale-blue w-auto h-auto mx-auto px-12 pt-28"
					src="/public/images/illustration-your-users.svg"
					alt=""
				/>
				<div>
					<h2 class="font-heading text-xl px-14 pt-32">Your Users</h2>

					<p class="text-xs font-medium px-12 py-5">
						It takes no time at all to integrate Huddle with your app's
						authentication solution. This means, once signed in to your app,
						your users can start chatting immediately.
					</p>
				</div>
			</div>
			<img
				class="w-[100%] h-auto"
				src="/public/images/bg-section-bottom-mobile-2.svg"
				alt=""
			/>
		</section>

		<h2 class="font-heading text-xl px-14 pt-7 pb-7">
			Ready To Build Your Community?
		</h2>

		<CtaButton> Get Started For Free </CtaButton>

		<footer>
			<img
				class="w-[100%] h-auto"
				src="/public/images/bg-footer-top-mobile.svg"
				alt=""
			/>
			<div class="bg-n-very-dark-cyan flex flex-col">
				<section>
					<h2
						class="uppercase text-xl font-semibold px-10 text-n-very-pale-blue pt-20 text-left"
					>
						Newsletter
					</h2>
					<p
						class="text-sm font-medium pl-10 pr-8 py-5 text-n-very-pale-blue text-left"
					>
						To recieve tips on how to grow your community, sign up to our weekly
						newsletter. We’ll never send you spam or pass on your email address
					</p>
					<form>
						<div class="pl-10 pr-8 h-12">
							<input
								class="w-full h-14 rounded-md text-sm"
								type="email"
								id="email"
								pattern=".+@example\.com"
								size="30"
								required
							/>
						</div>
						<div class="mt-7 text-right px-8">
							<a
								type="submit"
								href="#"
								class="bg-pink px-12 py-3 text-sm font-semibold text-n-very-pale-blue rounded-md shadow-xl"
							>
								Subscribe
							</a>
						</div>
					</form>
				</section>

				<section class="mt-32 px-10">
					<img
						class="w-auto h-8 mr-auto"
						src="/public/images/logo-white.svg"
						alt=""
					/>

					<p class="text-sm font-medium py-5 text-n-very-pale-blue text-left">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
						nulla quam, hendrerit lacinia vestibulum a, ultrices quis sem.
					</p>

					<div
						class="mt-7 pb-10 flex flex-col gap-7 text-n-very-pale-blue text-sm font-medium"
					>
						<div class="flex gap-6 items-center content-center">
							<img class="size-4" src="/public/images/icon-phone.svg" alt="" />
							<a href="">Phone: +1-543-123-4567</a>
						</div>
						<div class="flex gap-6 items-center content-center">
							<img class="w-5 h-4" src="/public/images/icon-email.svg" alt="" />
							<a href=""> example@huddle.com</a>
						</div>
					</div>
				</section>
			</div>
			<section class="bg-n-very-dark-cyan">
				<SocialPill href="">
					<FacebookIcon class="size-6 md:size-6" />
					<InstagramIcon class="size-6 md:size-6" />
					<TwitterIcon class="size-6 md:size-6" />
				</SocialPill>
			</section>
		</footer>
		<p class="attribution font-normal text-sm px-2">
			Challenge by <a
				href="https://www.frontendmentor.io?ref=challenge"
				target="_blank">Frontend Mentor</a
			>. Coded by <a href="https://github.com/justcoddev" target="_blank"
				><strong>justcoddev</strong></a
			>.
		</p>
	</main>
</Layout>
