<a
  class="bg-pink px-12 py-3 my-10 inline-block text-lg font-semibold text-n-very-pale-blue rounded-full shadow-xl"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
