<a
  class="flex text-n-very-pale-blue items-center font-normal gap-x-2 py-10 md:py-2 md:px-4 md:text-base hover:bg-white/10 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
